#!/bin/bash

###############################################################################
# Phase: Init

IFACE_MAC_ADDR="6c:b3:11:66:85:cc"

IFACE_IP_ADDR="192.168.5.41"
IFACE_BRC_ADDR="192.168.5.255"

IFACE_VLAN_IP_ADDR="192.168.5.41"
IFACE_VLAN_BRC_ADDR="192.168.5.255"
IFACE_VLAN_ID="3"

TX_Q_COUNT=4
RX_Q_COUNT=4

VLAN_PRIORITY_SUPPORT="YES"
VLAN_STRIP_SUPPORT="NO"
EEE_TURNOFF="NO"

IRQ_AFFINITY_FILE="irq_affinity_4c_4TxRx.map"
TEMP_DIR="/tmp"

###############################################################################
# Phase: Setup
# Map socket priority to tc
#           0 1 2 3 4 5 6
MQPRIO_MAP="3 1 0 2 3 3 3 3 3 3 3 3 3 3 3 3"

PTP_IFACE_APPEND=".vlan"
PTP_PHY_HW="i225-1G"
# PTP_TX_Q=2

################## i210 ##################
PTP_TX_Q=3
################## i210 ##################

PTP_RX_Q=2

# TODO
CPU_AFFINITY=3

IPERF_Q=3
VLAN_PRIOR_PKT=0x6000
VLAN_PRIOR_AF_XDP=0x4000

###############################################################################
# Runtime

AFP_PACKET_TEST="y"
RUN_IPERF3_AFP="y"
RUN_IPERF3_XDP="y"

################## i210 ##################
TX_PKT_Q=1  # socket priority 1 ---> TC/NIC tx-q 1
RX_PKT_Q=1  # NIC rx-q 1

TX_XDP_Q=1  # socket priority 1 ---> TC/NIC tx-q 1
RX_XDP_Q=1  # NIC rx-q 1
################## i210 ##################

# TX_PKT_Q=2
# RX_PKT_Q=2

# TX_XDP_Q=2
# RX_XDP_Q=2

TXTIME_OFFSET=20000
NUMPKTS=10000
SIZE=64

INTERVAL=250000
EARLY_OFFSET=700000

XDP_MODE="c -w" # AF-XDP native mode (zero copy not available yet)
XDP_INTERVAL=200000
XDP_EARLY_OFFSET=100000
